.about {
  @include font-size(17px);
  line-height: 1.8;
  margin: 0 0 $base-spacing-unit;
  background: $white;
  padding: $base-spacing-unit;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}