.header-container {
  background: $color-brand-primary;
  color: $color-header-copy;

  h1 {
    margin: 0;
  }

}

.header {
  @include clearfix;
  min-height: 80px;

  @include media($medium-below) {
    @include transform(translate3d(0, 0, 0));
    @include transition(margin 0.30s ease-in-out);

    &.show-navigation {
      margin-bottom: 50px;
    }
  }

  &__title-wrap {
    float: left;
  }

  &__logo {
    float: left;

    img {
      width: 50px;
      margin: 14px 10px 0 0;
    }
  }
}

.navigation {
  float: right;
  position: relative;

  ul {
    @include clearfix;
    padding: 0;
    margin: 0;
  }

  &__item {
    float: left;
    font-family: Lato, sans-serif;
    height: 73px;
    line-height: 80px;
    margin-left: $base-spacing-unit;
  }

  &__link {
    color: $color-header-copy;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 $base-spacing-unit;

    &:hover {
      color: $color-header-copy;
      text-decoration: none;
      border-bottom: 6px solid $color-brand-secondary;
    }
  }

  @include media($medium-below) {
    @include transition(height 0.30s ease-in-out);
    position: absolute;
    right: 0;
    top: 81px;
    background: $color-brand-primary;
    z-index: 3;
    text-align: right;
    width: 100%;
    height: 0;
    overflow: hidden;

    &__item {
      @include transition(height 0.30s ease-in-out);
      float: none;
      display: inline-block;
      line-height: 63px;
      height: 63px;
    }

    .show-navigation & {
      height: 63px;

      &__item {
      }
    }
  }
}

.hamburger {
  @include size(70px 60px);
  @include appearance(none);
  @include transition(background 0.3s);
  float: right;
  display: none;
  position: relative;
  overflow: hidden;
  margin: 10px 0 0;
  padding: 0;
  background: transparent;
  font-size: 0;
  text-indent: -9999px;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;

  @include media($medium-below) {
    display: block;
  }

  &:focus {
    outline: none;
  }

  span {
    @include transition(background 0.3s);
    display: block;
    position: absolute;
    top: 26px;
    left: 18px;
    right: 18px;
    height: 6px;
    background: $white;

    &:before,
    &:after {
      @include transition-duration(0.3s, 0.3s);
      @include transition-delay(0.3s, 0);
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: $white;
      content: "";
    }

    &:before {
      @include transition-property(top, transform);
      top: -14px;
    }
  }

  span::after {
    bottom: -14px;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
  }

}

.show-navigation .hamburger {
  //background-color: #cb0032;
}

.show-navigation .hamburger span {
  background: none;
}

.show-navigation .hamburger span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.show-navigation .hamburger span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.show-navigation .hamburger span::before,
.show-navigation .hamburger span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
