$base-font-size:        16px;
$base-line-height:      24px;
$base-font-family:      "Lato", sans-serif;
$base-text-color:       #333;
$base-spacing-unit:     24px;
$outer-gutter: 0.5em;

$header-font-family: 'Lato', sans-serif;

$font-size-h1:          32px;
$font-size-h2:          28px;
$font-size-h3:          24px;
$font-size-h4:          20px;
$font-size-h5:          16px;
$font-size-h6:          14px;

$color-pallete-1: #260126;
$color-pallete-2: #328CC7;
$color-pallete-3: #F2EEB3;
$color-pallete-4: #BFAF80;
$color-pallete-5: #59323C;
$white: #fff;
$grey: #959595;
$black: #333;

$color-header-copy: $white;
$main-background: #eee;
$base-text-color: #333;
$color-brand-primary: $color-pallete-1;
$color-brand-secondary: $color-pallete-2;
$color-link:            $color-brand-primary;
$color-link-hover:      $color-brand-secondary;

//Breakpoints
$xsmall-width: 420px;
$small-width: 600px;
$medium-width: 768px;
$large-width: 1024px;
$xlarge-width: 1200px;

$small: new-breakpoint(max-width $small-width);
$medium: new-breakpoint(min-width ($small-width + 1) max-width $medium-width);
$medium-below: new-breakpoint(max-width $medium-width);
$medium-above: new-breakpoint(min-width $medium-width + 1);
$large: new-breakpoint(min-width ($medium-width + 1) max-width $large-width);
$large-above: new-breakpoint(min-width ($large-width + 1));
$xlarge: new-breakpoint(min-width $xlarge-width);
